[Unit]
Description=Firefox profile memory cache

[Install]
WantedBy=default.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/home/xiaofwan/.local/bin/firefox-sync %i
ExecStop=/home/xiaofwan/.local/bin/firefox-sync %i
