[Unit]
Description=Firefox profile memory cache

[Install]
WantedBy=default.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/var/home/xiaofwan/bin/firefox-sync %i
ExecStop=/var/home/xiaofwan/bin/firefox-sync %i
